.content {
	background: #aa8833;
	color:      #662222;
}

.sidebar {
	background: #eedd88;
	color:      #cc0000;
}

.topbar {
	background: #bb8844;
	color:      #990000;
}

.theme_ctrlr {
	background: #807060;
	color:      #ff4444;
}
